In [1]:
%ls data

 C ����̺��� �������� �̸��� �����ϴ�.
 ���� �Ϸ� ��ȣ: CEA2-8C1A

 c:\jupiterworkspace\pandas\data ���͸�

2022-01-17  ���� 09:48    <DIR>          .
2022-01-17  ���� 09:48    <DIR>          ..
2022-01-17  ���� 09:38            45,768 banklist.csv
2022-01-17  ���� 09:38            90,190 billboard.csv
2022-01-17  ���� 09:38                56 concat_1.csv
2022-01-17  ���� 09:38                56 concat_2.csv
2022-01-17  ���� 09:38                64 concat_3.csv
2022-01-17  ���� 09:38             5,674 country_timeseries.csv
2022-01-17  ���� 09:38            81,932 gapminder.tsv
2022-01-17  ���� 09:38               965 pew.csv
2022-01-17  ���� 09:38            11,318 raw_data_urls.txt
2022-01-17  ���� 09:38               433 scientists.csv
2022-01-17  ���� 09:38               122 survey_person.csv
2022-01-17  ���� 09:38                74 survey_site.csv
2022-01-17  ���� 09:38               391 survey_survey.csv
2022-01-17  ���� 09:38               168 survey_visited.csv
2022-01-17  ���� 09:38           177,555 tesla_stock_quandl.csv
2022-01-17  ���� 09:38             2,898 weather.csv
              16�� ����             417,664 ����Ʈ
               2�� ���͸�  30,170,234,880 ����Ʈ ����

In [3]:
#하나의 열 안의 데이터 출력
import pandas as pd
df = pd.read_csv("data/gapminder.tsv", sep='\t')
country_df=df['country']
print(type(country_df))
print(country_df.head())

<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [4]:
#하나의 행 안의 데이터 출력
import pandas as pd
df = pd.read_csv("data/gapminder.tsv", sep='\t')
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [6]:
print(range(5))

range(0, 5)

In [7]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [9]:
import pandas as pd
df = pd.read_csv("data/gapminder.tsv", sep='\t')
a=df.iloc[:, list(range(3))]
print(a.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [23]:
import pandas as pd
df = pd.read_csv("data/gapminder.tsv", sep='\t')
grouped_year_df = df.groupby('year').mean()
grouped_year_df_lifeExp = grouped_year_df['lifeExp']
mean_lifeExp_by_year = grouped_year_df_lifeExp.mean()
print(mean_lifeExp_by_year)
#mean_life_exp_bY_year = grouped_year_df['lifeExp']

59.47443936619718

In [27]:
#데이터프레임 만들기
import pandas as pd
scientists = pd.DataFrame(
    data = {'Occupation' : ['Chemist', 'Statistician'],
            'Born': ['1920-07-25', '1876-06-13'],
            'Died': ['1958-04-16', '1937-10-16'],
            'Age': [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age']
)

print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [28]:
first_row = scientists.loc['William Gosset']
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [29]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                  Occupation        Born        Died  Age
William Gosset  Statistician  1876-06-13  1937-10-16   61

In [31]:
condition = scientists['Age'] > scientists['Age'].mean()
print(condition, '\n')
print(scientists[condition])

Rosaline Franklin    False
William Gosset        True
Name: Age, dtype: bool

                  Occupation        Born        Died  Age
William Gosset  Statistician  1876-06-13  1937-10-16   61

In [33]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                     Occupation        Born        Died  Age    born_dt  \
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37 1920-07-25
William Gosset     Statistician  1876-06-13  1937-10-16   61 1876-06-13

                     died_dt age_days_dt
Rosaline Franklin 1958-04-16  13779 days
William Gosset    1937-10-16  22404 days

In [34]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

population = pd.DataFrame( 
    data={'0-9세' : [80, 120], '10-19세' : [100, 200], '20-29세' : [140, 300],
        '30-39세' : [160, 360], '40-49세' : [200, 400], '50-59세' : [240, 300],
        '60-69세' : [195, 40], '70-79세' : [160, 25], '80-89세' : [80, 20],
        '90-99세' : [20, 10]},
    index = ['CityA', 'CityB']
    )
print(population)

       0-9세  10-19세  20-29세  30-39세  40-49세  50-59세  60-69세  70-79세  80-89세  \
CityA    80     100     140     160     200     240     195     160      80
CityB   120     200     300     360     400     300      40      25      20

       90-99세
CityA      20
CityB      10